header {color: rgb(110, 90, 90);
   text-align: center;
   padding: 10px;
   background-color:whitesmoke;
   width: 100%;   
}
h2 {
    color: maroon;
}
body {
    background-color: rgb(141, 126, 141); 
    
    
    }
nav a {
    margin: 0 10px;
    color: wheat;
    text-decoration: underline;
    width: 100%;
}

nav {
    background-color: black;
    padding: 10px
    ;
}
p {
    color: rgb(110, 90, 90);
    text-align: center;
   background-color:whitesmoke;   
}
footer {
    color: rgb(110, 90, 90);
   text-align: center;
   padding: 10px;
   background-color:whitesmoke;
   bottom: 0;
   position: fixed;
   width: 100%;
}
button {
    background-color: whitesmoke;
    color: black;
    margin: 10px;
}
img {
    width: 600px;
    height: 200px;
    margin-right: 700px;
    margin-left: 450px;
    
}